---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCE = [
  {
    date: 'Actualmente...',
    title: 'Desarrollador de Software',
    description: 'Me desempeño como desarrollador de software en la empresa desarrolladora de software, SinergiTec, en cual me encargo de desarrollar aplicaciones web y móviles.',
    link: '#',
  },
  {
    date: '2019 - 2020',
    title: 'Desarrollador de Software',
    description: 'Me desempeñé como desarrollador de software en la empresa desarrolladora de software, SinergiTec, en cual me encargaba de desarrollar aplicaciones web y móviles.',
    link: '#',
  },
]
---
<ol class="relative border-s border-gray-200 ml-3"> 
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }                 
</ol>

