---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---
<header class="flex justify-between items-center py-3 w-[1120px]">
  <nav class="flex flex-row gap-x-10 opacity-50">
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>